@import "reset.css";

 body{
    margin: auto;
    width: 1000px;
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
 }

 .heading {
    margin : 50px 0 10px 0;
    font-size: 30px;
    padding: 50px 30px ;

 }


.heading, footer {
    background-color: rgb(32, 197, 120);

}

.navigation{
    border: 2px solid rgb(32, 197, 120);
    background-color: rgb(242, 245, 243);
    border-radius: 30px;
    width: 70px;
    position: absolute;
    right: 0;

}

.navigation a {
    display: block;
    padding-top: 60px;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: rgb(5, 158, 87);
    background: url("../images/notes.png") no-repeat 14px 14px;
    background-size: 60%;
}

.navigation a:hover {
    background-color: rgb(246, 255, 124);
    border-radius: 30px;
}

 .wrap {
    clear:both;
    width: 1000px;
    margin-top: 30px;
 }

 .wrap::after {
    content:"";
    display:table;
    clear: both;
 }

 .site-title {
    color: whitesmoke;
 }

 h2.hidden {
    display: none;
 }

body h2, h3 {
    border: 2px solid;
    background-color: rgb(32, 197, 120);
    border-radius: 20px 10px 20px;
    width: 150px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

 .introduce {
    float: left;
    width: 60%;
    text-align: justify;
}

.photo {
    margin-top: 30px;
}
 .photo-clearfix img{
    display: block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.photo img{
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 10px 50px 10px;
    object-fit: cover;
    margin: auto;
}

#my-image {
    box-shadow: 0 1px 2px black;
}
/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */


.text-wrap {
    margin-top: 30px;
}

.hobby {
    margin-top: 30px;

}



.hobbylist {
    display: flex;
    flex-flow: column wrap;
    max-height: 7.5em;
    width:50%;
    margin-top: 20px;
}

.hobbylist dd, dt{
    display: list-item;
    list-style-type: square;
    list-style-position: inside;

}


.hobbylist dt {
    padding: 5px;
    background-color: rgb(32, 197, 120);
    
  }


.hobbylist dd{
padding: 5px;
  }

.hobbylist dd:nth-child(even){
    background:rgb(246, 255, 124);
}

.quote {
    float: right;
    padding-top: 140px;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    line-height: 2;
}

cite {
    font-weight: 200;

}

footer {
    display: block;
    color: whitesmoke;
    width: 100%;
    margin-top: 50px;
    padding: 10px 20px;
    text-align: right;
}